<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/styles.css">
<link rel ="stylesheet" href="/static/css/nouislider.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container-full">

	<div data-spy="affix" class="col-lg-4 col-lg-offset-4 text-center v-center">
        <h1>Mean Recipes</h1>
                <p class="lead">The absolutely average recipe generator</p>

                <p>Want to make some mean <strong><span class="text-info" id="suggestions"></span></strong>?</p>

	<div class="row">
	<form id="recipe-form">
		<div class="form-group">
			<input autofocus type="text" class="form-control input-lg" id="recipe-title" placeholder="What would you like to cook?">
		</div>
		<input type="submit" style="position: absolute; left: -999px; width; 1px; height: 1px;" tabindex="-1" />
	</form>
	</div>

	<br><br>
            <div class="row">
                <div class="center-block" style="width:500px;text-align:center; margin:20 auto;">
                    <div id="slider-tooltip">
                    </div>
                </div>
        </div>

        <div id="image" class="container center-block" style="align:center auto;">
            <img class="img-responsive center-block"  src="http://imgs.xkcd.com/comics/recipes.png"   alt="CS dinner" width="760" height="545"> 
        </div>
       <br><br><br><br><br>
	</div>

</div> <!-- /container full -->

    <div class="container" id="result">



        <div id="info-row" class="row" style="display:none">

            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading" Style="text-align:center" ><h2 id="title"></h2></div>
                    <div class="panel-body" Style="text-align:center" >

                        <h2 >Ingredients</h2>
                        <p id="ingredients" ></p>
                        <h2>Method</h2>
                        <p id="method"></p>
                    </div>
                </div>


            </div>

            <!-- Latest compiled and minified JavaScript -->
            <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
            <script src="/static/js/nouislider.js"></script>
            <script src="/static/js/typed.js"></script>
            <script src="/static/js/slider.js"></script>
            <script src="/static/js/script.js"></script>
            </body>
            </html>


